.dshbr-container
{
    background: lightblue;
    border-radius:5px;
    border: 0.2px solid lightblue;
    height: 85vh;
    /* width: 80%; */
    /* margin-left: 20%; */
    margin-right: 5%;
    opacity: 0.4;
}


.stdnt-cnt
{
    width: 40%;
   
}

.sdnt-bar
{
    border:0.2px solid black;
background: white;
}